{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<header>
  <div class="container mt-5">
    <!-- Title row -->
    <div class="row">
      <div class="col-12 text-center">
        <h2>{{ reservation_display.title }}</h2>
      </div>
    </div>

    <!-- Content row -->
    <div class="row">
      <div class="col-12 text-center">
        <p>{{ reservation_display.content | safe  }}</p>
      </div>
    </div>
</header>
    <!-- Authentication Links column -->
  <div class="row">
    <div class="col-12 text-center">
      <ul class="list-inline">
        {% if user.is_authenticated %}
            <li class="list-inline-item">
                <a class="nav-link {% if request.path == logout_url %}active{% endif %}" href="{% url 'account_logout' %}">Logout</a>
            </li>
        {% else %}
            <li class="list-inline-item">
                <a class="nav-link {% if request.path == signup_url %}active{% endif %}" href="{% url 'account_signup' %}">Register</a>
            </li>
            <li class="list-inline-item">
                <a class="nav-link {% if request.path == login_url %}active{% endif %}" href="{% url 'account_login' %}">Login</a>
            </li>
        {% endif %}
      </ul>
    </div>
  </div>
<!-- Displaying Reservations -->
<div class="row">
  <div class="col-md-8 card mb-4 mt-3">
    <h3>Reservations:</h3>
    <div class="card-body">
      <!-- Loop through reservations -->
      {% for reservation in reservations %}
      <div class="p-2 ReservationRequest 
        {% if not reservation.approved and reservation.client == user %}faded{% elif not reservation.approved %}d-none{% endif %}">
        <p class="font-weight-bold">
          {{ reservation.client.username }} 
          <!-- Display client's username -->
        <span class="font-weight-normal">{{ reservation.created_on }}</span> wrote:
        </p>
        <div>
          {{ reservation.details | linebreaks }}
        </div>
        {% if not reservation.approved and reservation.client == user %}
        <p class="approval">This reservation is awaiting approval</p>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- Creating New Reservation -->
<div class="col-md-4 card mb-4 mt-3">
  <div class="card-body">
    {% if user.is_authenticated %}
    <h3>Make a Reservation:</h3>
    <form id="reservationForm" method="post" style="margin-top: 1.3em;">
      {{ reservation_form | crispy }}
      {% csrf_token %}
      <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
    </form>
    {% else %}
    <p>Log in to make a reservation.</p>
    {% endif %}
  </div>
</div>

{% endblock content %}