{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<header>
  <div class="container mt-5">
    <!-- Title row -->
    <div class="row">
      <div class="col-12 text-center">
        <h2>{{ reservation_display.title }}</h2>
      </div>
    </div>
    <!-- Content row -->
    <div class="row">
      <div class="col-12 text-center">
        <p>{{ reservation_display.content | safe  }}</p>
      </div>
    </div>
</header>
    
<!-- Creating New Reservation -->
<div class="row">
    <div class="col-6 text-center">
      <div class="card-body">
        {% if user.is_authenticated %}
          <h3>Make a Reservation:</h3>
          <form id="reservationForm" method="post" style="margin-top: 1.3em;">
          {{ reservation_form | crispy }}
          {% csrf_token %}
          <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
          </form>
        {% else %}
          <p>Log in to make a reservation.</p>
        {% endif %}
      </div>
    </div>
  <!-- reservations display -->
    <div class="col-6 text-center">
      <h3>Your Reservations:</h3>
      <div class="card-body">
        <!-- Loop through reservations -->
        {% for reservation in reservations %}
        <div id="reservation{{ reservation.id }}" class="p-2 ReservationRequest {% if not reservation.approved %}faded{% elif not reservation.approved %}d-none{% endif %}">
          <p class="font-weight-bold">
            {{ reservation.client.username }} 
            <span class="font-weight-normal">{{ reservation.created_on }}</span> wrote:
          </p>
          <div>
            {{ reservation.details | linebreaks }}
          </div>
          {% if not reservation.approved %}
          <p class="approval">
            This reservation is awaiting approval
          </p>
          {% endif %}
          <!-- Edit button -->
          {% if user.is_authenticated and reservation.client == user %}
          <button type="button" class="btn btn-danger btn-delete" reservation_id="{{ reservation.id }}" data-bs-toggle="modal" data-bs-target="#deleteModal">
            Delete
          </button>
          <button class="btn btn-edit" reservation_id="{{ reservation.id }}">Edit</button>
          {% endif %}
        </div>
        {% empty %}
        <p>No reservations have been made yet.</p>
        {% endfor %}
      </div>
    </div>
</div>
<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Reservation?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this Reservation?
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block extras %}
<script src="{% static 'js/reservations.js' %}"></script>
{% endblock %}
