body {
    background-color: #ffffff;
}

.nav-style {
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
}

.navbar-brand img {
    height: 80px;
}

h3 {
    color: #E94578;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    outline: none; 
}

/* Change the font color of the navigation links */

.navbar-light .nav-link {
    color: #33202A !important;
    font-weight: bolder; ;
}

/* Change the font color when a link is active */
.navbar-light .nav-link.active {
    color: #ac7691 !important; /* Active link color */
}

/* hero image */
.hero {
    background-size: cover; 
    background-position: center;
}

/* Ensures the image does not overflow its column */

.featurette-img {
    max-width: 100%;   
    max-height: 400px;     
    object-fit: cover;      
}

/* make one row of the home background purple */

.bkgrnd-color {
    background-color: #33202A;
}

.home-row {
    padding-top: 40px;
}

.bold {
    font-weight: bolder;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.footer-bkgrnd {
    background-color: #33202A;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}


.scale {
    width: 100%;
    height: auto;
}


.post-link:hover,
.page-link {
    color: #E84610;
}


.btn-signup,
.btn-edit {
    background-color: #078818;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #04e200;
    color: #030303;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}


.btn-delete {
    color: #fff;
    background: #822424;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}