{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                <div class="container">
                    {% for home in home_list %}
                        <div class="row featurette">
                            {% if forloop.counter|divisibleby:2 %}
                                <!-- Even entries -->
                                <div class="col-md-5">
                                    <img src="{{ home.image.url }}" alt="{{ home.title }}" class="featurette-image img-responsive">
                                </div>
                                <div class="col-md-7">
                                    <h3>{{ home.title }}</h3>
                                    <p>{{ home.content }}</p>
                                </div>
                                <hr class="featurette-divider">
                            {% else %}
                                <!-- Odd entries -->
                                <div class="col-md-7">
                                    <h3>{{ home.title }}</h3>
                                    <p>{{ home.content }}</p>
                                </div>
                                <div class="col-md-5">
                                    <img src="{{ home.image.url }}" alt="{{ home.title }}" class="featurette-image img-responsive">
                                </div>
                                <hr class="featurette-divider">
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- index.html content ends here -->
{% endblock %}