{% extends "base.html" %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                <div class="container">
                    {% for home in home_list %}
                        <div class="row featurette">
                            {% if forloop.counter|divisibleby:2 %}
                                <!-- Even entries -->
                                <div class="col-md-5">
                                    <img src="{{ home.image.url }}" alt="{{ home.title }}" class="featurette-image img-responsive">
                                </div>
                                <div class="col-md-7">
                                    <h3>{{ home.title }}</h3>
                                    <p>{{ home.content }}</p>
                                </div>
                                <hr class="featurette-divider">
                            {% else %}
                                <!-- Odd entries -->
                                <div class="col-md-7">
                                    <h3>{{ home.title }}</h3>
                                    <p>{{ home.content }}</p>
                                </div>
                                <div class="col-md-5">
                                    <img src="{{ home.image.url }}" alt="{{ home.title }}" class="featurette-image img-responsive">
                                </div>
                                <hr class="featurette-divider">
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}