{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    {% for home in home_list %}
        {% if forloop.counter|divisibleby:2 %}
            <!-- Odd entries -->
            <div class="row">
                <div class="col-md-7 mx-auto">
                    <h3 class="home-row">{{ home.title }}</h3>
                    <p>{{ home.content | safe }}</p>
                </div>
                <div class="col-md-5">
                    <img src="{{ home.featured_image.url }}" alt="{{ home.title }}" class="img-fluid featurette-img">
                </div>
            </div>
        {% else %}
           <!-- Even entries -->
            <div class="row bkgrnd-color">
                <div class="col-md-5">
                    <img src="{{ home.featured_image.url }}" alt="{{ home.title }}" class="img-fluid featurette-img">
                </div>
                <div class="col-md-7 text-white">
                    <h3 class="home-row">{{ home.title }}</h3>
                    <p>{{ home.content | safe }}</p>
                    <a class="nav-link {% if request.path == reservation_url %}active{%endif%}" aria-current="page" href="{% url 'reservation' %}">
                        <button type="button" class="btn btn-success btn-lg">Reservations</button>
                    </a>
                </div>
            </div>
        {% endif %}
    {% endfor %}            
</div>

<!-- index.html content ends here -->
{% endblock %}