{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="row">
  <div class="col-12 text-center">
    <div class="image-container"></div>
      {% if "placeholder" in post.featured_image.url %}
      <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="placeholder image">
      {% else %}
      <img class="card-img-top" src=" {{ about.featured_image.url }}" alt="{{ about.title }}">
      {% endif %}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <div class="image-container">
      {% if "placeholder" in post.featured_image.url %}
      <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="placeholder image">
      {% else %}
      <img class="card-img-top" src=" {{ about.featured_image.url }}" alt="{{ about.title }}">
      {% endif %}
    </div>
  </div>
  <div class="col-4 text-right">
      <!-- Title goes between these h2 tags -->
      <h2>{{ about.title }}</h2>
      <!-- Content goes directly underneath this -->
      <p>{{ about.content | safe }}</p>
  </div>
</div>
{% endblock content %}